{% extends "model-page.html" %}

{% block content %}

    <h2>Event</h2>
    <form action="submit" method="POST"> {% csrf_token %}
        <label>Title</label>
        <input type="number" name="id_evento" value="{{ evento.id }}" hidden>
        <br>
        <input type="text" name="titulo" size="18" value="{{ evento.titulo }}">
        <br>
        <label>Date of the Event</label>
        <br>
        <input type="datetime-local" name="data_evento" value="{{ evento.get_data_input_evento }}">
        <br>
        <label>Place</label>
        <br>
        <input type="text" name="local" value="{{ evento.local }}">
        <br>
        <label>Description</label>
        <br>
        <textarea name="descricao" rows="8" cols="85">{{ evento.descricao }}</textarea>
        <br><br>
        <button type="submit">Save</button>
        <a href="/"> <!-- Redirect to index automatically takes user to main page-->
            <button type="button">Delete</button>
        </a>
    </form>
{% endblock %}